<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>userWithIdServlet</servlet-name>
        <servlet-class>com.home.users.controller.UserWithIdServletController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>com.home.users.controller.UserServletController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userWithIdServlet</servlet-name>
        <url-pattern>/v1/users/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/v1/users</url-pattern>
    </servlet-mapping>
</web-app>